:root,
[data-md-color-scheme="slate"] {
  --md-primary-fg-color: #00e5a0;
  --md-primary-fg-color--light: #33ebb3;
  --md-primary-fg-color--dark: #00b87d;
  --md-accent-fg-color: #00e5a0;
  --md-default-bg-color: #0a0a0a;
  --md-default-bg-color--light: #111111;
  --md-default-bg-color--lighter: #1a1a1a;
  --md-default-bg-color--lightest: #222222;
  --md-code-bg-color: #111111;
}
